.copy-container {
  font-size: 30px;
  color:rgb(236, 246, 240);
}

.copy-container h1{
  padding-left: 530px;

}
.copy-container h2{
  padding-left: 370px;
}
.copy-container h3{
  padding-left: 280px;
  font-size: 25px;
}
.copy-container span{
  font-size: 80px;
}
.main h4{
  font-size:40px;
  padding-top: 80px;
  padding-left: 530px;
}
.contents{
  padding-left: 100px;
}
.contents h3{
  font-size: 30px;
}
.contents-item{
  float:left;
  padding:30px;
}
.footer {
  background-color: rgb(59, 51, 48);
  height: 50px;
  padding-top: 10px;
  margin: 0px -10px 0px -20px;
}

.footer-logo {
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(242, 251, 237);
  float: left;
  padding-left: 20px;
}

.footer-list li {
  font-size: 15px;
  color: rgb(242, 251, 237);
  float: right;
  padding: 0px 10px 15px 10px;

}
