body{
    font-family:sans-serif;
}
table{
    text-align: center;
}
.aa{
    color:red;
    background: green
}
.Inner{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}
